

.inline-block{
    display:inline-block;
    vertical-align:top;
}
.logo{
    width:50%;
    padding:25px;
}
.alogo{max-width:80px;max-height:80px;}
nav{
    width:73%;
    float:right;
    padding:1%;
}
.hd{
    margin-top:-70px;
    margin-left:85px;
    font-family: 'Public Sans', sans-serif;
    font-size:18px;
    line-height: 25px;
}
nav .ul{
    display:inline-block;
    vertical-align:top;
    padding:1px;
}
ul{
    width:75%;
    margin-left:auto;
}
.heroImg{
    height:600px;
    padding:25px;
}
.content{
    width:500px;
    display:inline-block;
    margin:0 auto;
}
footer{
    background-color:#373738;
    padding:1px;
}
footer .ul{
    display:inline-block;
    vertical-align:top;
    padding:1px;
}